doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Ozzy')

        title Oscar & Ashmi's Wedding

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#home

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand(href='#home') Home
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#countdown') Countdown
                        li.nav-item
                            a.nav-link(href='#groom-bride') Groom & Bride
                        li.nav-item
                            a.nav-link(href='#when-where') When & Where
                        li.nav-item
                            a.nav-link(href='#wedding-party') Wedding Party
                        li.nav-item
                            a.nav-link(href='#gallery') Gallery

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h1.mx-auto.my-0.text-uppercase Oscar & Ashmi
                        h2.text-white-50.mx-auto.mt-2.mb-5 Are Getting Married <br/>On Sep 08, 2021 — Toronto ON, Canada
                        img.img-fluid(src='assets/img/wed-day.png', alt='...')

        // Countdown
        section#countdown.about-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h1.text-white.mb-4 Countdown
                        #clock-countdown
                            div
                                span.days
                                div.smalltext Days
                            div
                                span.hours
                                div.smalltext Hours
                            div
                                span.minutes
                                div.smalltext Mins
                            div
                                span.seconds
                                div.smalltext Secs
                img.img-fluid(src='assets/img/wed-rings.png', alt='...')

        // Groom & Bride
        section#groom-bride.projects-section.bg-light
            .container.px-4.px-lg-5
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/groom.jpg', alt='...')
                    .col-xl-4.col-lg-5
                        .featured-text.text-left.text-lg-left
                            h4 Oscar Espitia
                                a(href='https://github.com/nickelozz/')
                                    i.fab.fa-github-alt
                            p.text-black-50.mb-0
                                | Oscar met Ashmi 14 years ago, he fell in love with her from the moment they started their friendship. He loves the way she smiles at him and laughs with him. Oscar is excited to start new adventures as a family, creating lasting memories together.
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    .col-xl-4.col-lg-5
                        .featured-text.text-left.text-lg-left
                            h4 Ashmi Sundaralingam
                                a(href='https://www.instagram.com/ashmilingam/')
                                    i.fab.fa-instagram-square
                            p.text-black-50.mb-0
                                | Ashmi met the love of her life at the age of 21, she instantly fell in love with his sweet and kind soul. She can be her authentic self with him, without any fear of judgment. Ashmi is looking forward to growing old with Oscar and has committed herself to continue annoying him for many years to come!
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/bride.jpg', alt='...')

        // When & Where
        section#when-where.projects-section.bg-light
            .container.px-4.px-lg-5
                // Wedding
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/wed-ceremony.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Wedding Ceremony
                                    p.mb-0.text-white-50
                                        strong Wednesday, September 8, 2021, 9.00 AM - 3.00 PM
                                    p.mb-0.text-white-50
                                        strong
                                            a(href='http://paradisebanquethalls.com/') Paradise Banquet and Convention Centre
                                            | <br/>7601 Jane St, Concord, ON L4K 1X2
                                            | <br/>Attire: Formal
                                    p
                                        a(class='btn btn-primary' href='https://goo.gl/maps/N1huUbR6SLnyKDwF8') Get Directions
                                    hr.d-none.d-lg-block.mb-0.ms-0
                // Reception
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/wed-reception.jpg', alt='...')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Wedding Reception
                                    p.mb-0.text-white-50
                                        strong Sunday, July 17, 2022, 5.00 PM - 1.00 AM
                                    p.mb-0.text-white-50
                                        strong
                                            a(href='http://www.eaglesnestgolf.com/') Eagles Nest Golf Club
                                            | <br/>10000 Dufferin St, Maple, ON L6A 1S3
                                            | <br/>Attire: Formal
                                    p
                                        a(class='btn btn-primary' href='https://goo.gl/maps/HwVbpKMFC3TXsnnq8') Get Directions
                                    hr.d-none.d-lg-block.mb-0.ms-0

        // Wedding Party
        section#wedding-party.page-section.bg-light
            .container
                // Groomsmen
                .text-center
                    h2.section-heading.text-uppercase Groomsmen
                .row
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/groomsmen/cesar.jpg', alt='...')
                            p.text-muted Cesar Espitia
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/groomsmen/prashanth.jpg', alt='...')
                            p.text-muted Prashanth Sundaralingam
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/groomsmen/cory.jpg', alt='...')
                            p.text-muted Cory Darby
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/groomsmen/david.jpg', alt='...')
                            p.text-muted David Sciacchettano
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/groomsmen/jehanan.jpg', alt='...')
                            p.text-muted Jehanan Jegatheeswaran
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/groomsmen/jerusan.jpg', alt='...')
                            p.text-muted Jerusan Jegatheeswaran
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/groomsmen/sajeen.jpg', alt='...')
                            p.text-muted Sajeen Kandiah
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/groomsmen/areen.jpg', alt='...')
                            p.text-muted Areen Kandiah
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/groomsmen/ethan.jpg', alt='...')
                            p.text-muted Ethan Lo
                // Bridesmaids
                .text-center
                    h2.section-heading.text-uppercase Bridesmaids
                .row
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/bridesmaids/suruthy.jpg', alt='...')
                            p.text-muted Suruthy Sundaralingam
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/bridesmaids/keerthana.jpg', alt='...')
                            p.text-muted Keerthana Kandiah
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/bridesmaids/sagana.jpg', alt='...')
                            p.text-muted Sagana Kandiah
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/bridesmaids/safna.jpg', alt='...')
                            p.text-muted Safna Kandiah
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/bridesmaids/jehanya.jpg', alt='...')
                            p.text-muted Jehanya Jegatheeswaran
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/bridesmaids/robina.jpg', alt='...')
                            p.text-muted Robina Arulraja
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/bridesmaids/ashvini.jpg', alt='...')
                            p.text-muted Ashvini Shan
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/bridesmaids/sara.jpg', alt='...')
                            p.text-muted Sara Elnaiem
                    .col-lg-4
                        .wedding-party
                            img.mx-auto.rounded-circle(src='assets/img/bridesmaids/gurjit.jpg', alt='...')
                            p.text-muted Gurjit Flora

        // Gallery
        #gallery
            .container-fluid.p-0
                .row.g-0
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/1.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/1.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/2.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/2.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/3.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/3.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/4.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/4.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/5.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/5.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/6.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/6.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/7.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/7.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/8.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/8.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/9.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/9.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/10.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/10.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/11.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/11.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        a.gallery-box(href='assets/img/gallery/fullsize/12.jpg')
                            img.img-fluid(src='assets/img/gallery/thumbnails/12.jpg', alt='...')

        // Contact
        section.contact-section.bg-black
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .social.d-flex.justify-content-center
                        a(class='mx-2' href='https://github.com/nickelozz/')
                            i.fab.fa-github
                        a(class='mx-2' href='mailto:the.pepito.pepita+wedding-site@gmail.com?Subject=Wedding%20Site')
                            i.fas.fa-envelope
                        a(class='mx-2' href='https://www.instagram.com/ashmilingam/')
                            i.fab.fa-instagram-square

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright <i class='fas fa-copyright'></i> 2021
                | <br/>Made with <i class="fas fa-heart"></i> by Ozzy

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')